.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 2rem;

  .contact__details {
    flex: 1.2 1 250px;
  }

  .social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-block-start: 2rem;
    .social-button {
      padding-inline: 0;
    }
      img {
        width: 2rem;
      }
    
    .social__title {
      font-size: var(--body-medium);
      font-weight: 600;
    }
  }
  .email-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-block: 4rem;
    .email {
      font-size: var(--headline-3);
      font-weight: 400;
      color: var(--emphasis);
      text-decoration: underline;
    }
  }

  .image-container {
    flex: 1 1 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    img {
      width: 100%;
      max-width: 400px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 768px) {
  .contact .email-container .email {
    font-size: var(--body-large);
  }
}