<div class="contact">
  <div class="image-container">
    <img src="../../../assets/images/louis-profile-1.webp" alt="An illustration of a person holding a coffee cup, symbolizing connection and collaboration" />
  </div>
  <div class="contact__details">
    <h2>Let's Connect Over a Coffee</h2>

    <p>
      I'm eager to collaborate on the next cool thing, whether that be design,
      development, or a bit of both! Let's get in touch.
    </p>

    <div class="email-container">
      <a href="mailto:louis.earl.14@gmail.com" class="tooltip">
        <span class="email">louis.earl.14&#64;gmail.com</span>
        <span class="tooltip-text">Open in mail</span>
      </a>

      <button class="button icon-button tooltip" (click)="copyEmail()">
        @if (copySuccess) {
          <span class="material-icons-round"> check </span>
        } @else {
          <span class="material-icons-round"> content_copy </span>
        }
        <span class="tooltip-text">Copy to clipboard</span>
      </button>
    </div>

    <div class="social">
      <a class="button social-button" href="https://www.linkedin.com/in/louis-earl/" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/social-linkedin.png" />
        <span class="social__title">LinkedIn</span>
      </a>
      <a class="button social-button" href="https://github.com/louis-earl" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/social-github.png" />
        <span class="social__title">GitHub</span>
      </a>
    </div>
  </div>
</div>