<div class="contact">
  <div class="image-container">
    <img src="../../../assets/images/louis-profile-1.webp" alt="An illustration of a person holding a coffee cup, symbolizing connection and collaboration" />
  </div>
  <div class="contact__details">
    <h2>Let's Connect Over a Coffee</h2>

    <p>
      I'm eager to collaborate on the next cool thing, whether that be design,
      development, or a bit of both! Let's get in touch.
    </p>

    <div class="email-container">
      <span class="email">louis.earl.14&#64;gmail.com</span>
    </div>

    <div class="social">
      <div class="social__item">
        <img src="../../../assets/social-linkedin.png" />
        <span class="social__title">LinkedIn</span>
      </div>
      <div class="social__item">
        <img src="../../../assets/social-github.png" />
        <span class="social__title">GitHub</span>
      </div>
    </div>
  </div>
</div>