.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 12rem;
  gap: 2rem;

  .social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block-start: 2rem;
    .social__item {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      background-color: var(--surface-transparent);
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      img {
        width: 2rem;
      }
    }
    .social__title {
      font-size: var(--body-medium);
      font-weight: 600;
    }
  }

  .email {
    font-size: var(--headline-3);
    font-weight: 400;
    color: var(--emphasis);
    text-decoration: underline;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: calc(100% - 1.5rem);
      max-width: 400px;
      border-radius: 50%;
      background-color: var(--surface-transparent);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border: 0.75rem solid var(--surface-transparent)
    }
  }
}

@media (max-width: 599.98px) {
  .contact {
    grid-template-columns: 1fr;
    .image-container {
      order: -1;
    }
  }
}