<div class="bg--light">
    <div class="standard-container">
        <h2>
            Valocity Global
        </h2>
        <p>
            Design & Development
        </p>
    </div>
    <div class="standard-container">
        <div class="info__two">
            <div>
                <h3>
                    Design work
                </h3>
                <p>
                    Here's what I did. 
                </p>
            </div>

            <div>
                <h3>
                    Development work
                </h3>
                <p>
                    Here's some more stuff I did. 
                </p>
            </div>
        </div>
    </div>
    <div class="standard-container">
        <h3>
            Supporting a major rennovation.
        </h3>
        <p>
            Before there were designers,
        </p>
    </div>
</div>