<div class="flex-center">
    <div class="tariffCards">
        <div class="economy">
            <h3>Gather Requirements</h3>
            <span>Full Insurance</span>
        </div>
        <div class="premiumeconomy">
            <h3>Design</h3>
            <span>Full Insurance</span>
        </div>
        <div class="business">
            <h3>Front-End Development</h3>
            <span>Full Insurance</span>
        </div>
        <div class="first">
            <h3>Release</h3>
            <span>Full Insurance</span>
        </div>
    </div>
</div>