.flex-center {
    display: flex;
    justify-content: center;
  }

.tariffCards {
  user-select: none;
  transform: translate3d(0,0,0);
  transform-style: preserve-3d;
  &:after {
    position: absolute;
    bottom: -27px;
    left: 5%;
    content: '';
    width: 65%;
    height: 10px;
    border-radius: 100%;
    background-image: radial-gradient(rgba(#223254,.04),rgba(#223254,0));
  }
  > div {
    position: relative;
    width: 420px;
    height: 210px;
    border-radius: 1rem;
    color: white;
    transform: rotateX(45deg) rotateY(15deg) rotate(-45deg);
    transition: all .4s ease;
    overflow: hidden;
    cursor: pointer;
    &:after {
      position: absolute;
      top: -50px;
      left: 0;
      content: '';
      width: 200%;
      height: 200%;
      background-image: linear-gradient(60deg, rgba(white,0) 20%, rgba(white,.1), rgba(white,0) 80%);
      transform: translateX(-100%);
    }
    h3 {
      position: absolute;
      bottom: 28px;
      left: 15px;
      font-size: 18px;
      font-weight: 800;
    }
    span {
      position: absolute;
      font-weight: 700;
      bottom: 15px;
      left: 15px;
      font-size: 12px;
      font-weight: 600;
      opacity: .8;
    }
    &.economy {
      margin-top: 0;
      z-index: 3;
      background-color: #8063E1;
      background-image: linear-gradient(135deg, #BD7BE8, #8063E1);
      box-shadow: 20px 20px 60px rgba(#223254,.5), 1px 1px 0px 1px #8063E1;
    }
    &.premiumeconomy {
      margin-top: -50px;
      z-index: 2;
      background-color: #3F58E3;
      background-image: linear-gradient(135deg, #7F94FC, #3F58E3);
      box-shadow: 20px 20px 60px rgba(#223254,.5), 1px 1px 0px 1px #3F58E3;
    }
    &.business {
      margin-top: -50px;
      z-index: 1;
      background-color: #2C6FD1;
      background-image: linear-gradient(135deg, #21BBFE, #2C6FD1);
      box-shadow: 20px 20px 60px rgba(#223254,.5), 1px 1px 0px 1px #2C6FD1;
    }
    &.first {
      margin-top: -50px;
      background-color: #352F64;
      background-image: linear-gradient(135deg, #415197, #352F64);
      box-shadow: 5px 5px 60px rgba(#223254,.1), 1px 1px 0px 1px #352F64;
    }
    &:hover {
      // transform: rotateX(30deg) rotateY(-15deg) rotate(30deg);
      transform: rotateX(45deg) rotateY(15deg) rotate(-45deg) scale(1.1);
      &:after {
        transform: translateX(100%);
        transition: all 0.8s ease-in-out;
      }
    }
  }
}
