.layout {
    padding: 2rem;
    background-color: #003238;
    &__fixed {
        position: fixed;
        top: 2rem;
        bottom: 2rem;
        margin-inline-end: 380px;

    }
    &__scroll {
        width: 380px;
        margin-inline-start: calc(100% - 380px);
    }
}

.headline {
    &__title {
        display: inline-flex;
        align-items: center;
        gap: 1.5rem;
        margin: 0;
    }
    &__title h1,
    &__subtitle {
        margin: 0;
    }
}

.project__gallery {
    width: 100%;
    height: 100%;
    background-color: #ffffff28;
    border-radius: 2rem;
}