<div class="layout">
  <div class="layout__fixed">
    <header>
      <a class="button text-button" (click)="back()">
        <span class="material-icons-round"> arrow_back </span>
        <span>Home</span>
      </a>
      <h2 class="title">{{ projectTitle$ | async }}</h2>
      <span class="subtitle">{{ projectSubtitle$ | async }}</span>
    </header>

    <div class="gallary-container">
      <app-project-gallary></app-project-gallary>
    </div>
  </div>
  <div class="layout__scroll">
    <router-outlet></router-outlet>
    <app-up-next></app-up-next>
  </div>
</div>

<app-contact></app-contact>
