:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-button-container {
  position: sticky;
  top: 0;
  z-index: 10;
}

#home-button {
  margin-block-start: 2rem;
  margin-inline: -1rem;
  padding-inline: 1rem;
  background-color: transparent;
  box-shadow: none;
  transition: background-color 0.3s ease-in-out;
  will-change: background-color, box-shadow;
  &.scrolled {
    background-color: var(--surface);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
}

.layout,
.home-button-container {
  display: flex;
  margin-inline: 2rem 4rem;
  gap: 4rem;
  width: calc(100% - 6rem);
  max-width: 1200px;

  &__fixed {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    flex: 1;
    gap: 2rem;
    position: sticky;
    top: 6rem;
  }

  &__scroll {
    flex: 0 1 33.33%;
    margin-top: 15rem;
  }
}

header {
  margin-top: 2rem;

  h2.title {
    margin-block: 0.25rem;
  }
}

.gallary-container {
  display: flex;
  aspect-ratio: 4 / 3;
  padding: 2rem;
  background-color: var(--surface-transparent-neutral);
  border-radius: 2rem;
}

.contact-container {
  background-color: var(--surface-transparent-neutral);
  padding: 8rem 4rem;
  border-radius: 2rem 2rem 0 0;
  width: calc(100% - 12rem);
  max-width: 1104px;
  margin: 2rem 0 0;
}

@media screen and (max-width: 768px) {
  .layout {
    gap: 2rem;
  }
  .gallary-container {
    padding: 1rem;
    border-radius: 1rem;
  }
  .contact-container {
    padding: 4rem 2rem;
    border-radius: 1rem 1rem 0 0;
  }
}

@media screen and (max-width: 599.98px) {
  .layout {
    flex-direction: column;
    margin-inline: 2rem;
    width: calc(100% - 4rem);
    &__fixed {
      position: static;
    }
    &__scroll {
      margin-top: 0;
    }
  }

  .gallary-container {
    display: none;
  }

  .contact-container {
    width: calc(100% - 8rem);
  }
}
