:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.layout {
    display: flex;
    margin-inline: 2rem 4rem;
    gap: 4rem;
    max-width: 1200px;

    &__fixed {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        flex: 1;
        gap: 2rem;
        position: sticky;
        top: 0;
        height: 100dvh;

    }

    &__scroll {
        flex: 0 1 30%;
        margin-top: 15rem;
    }
}

header {
    margin-top: 2rem;

    h2.title {
        margin: 0;
    }

    span.subtitle {
        margin: 0;
        font-size: 28px;
    }
}