<div class="home-button-container">
  <a
    id="home-button"
    class="button text-button"
    [class.scrolled]="isScrolled"
    (click)="back()"
  >
    <span class="material-icons-round"> arrow_back </span>
    <span>Home</span>
  </a>
</div>
<div class="layout">
  <div id="scroll-anchor" class="layout__fixed">
    <header>
      <h2 class="title">{{ projectTitle$ | async }}</h2>
      <span class="subtitle">{{ projectSubtitle$ | async }}</span>
    </header>

    <div class="gallary-container">
      <app-project-gallary></app-project-gallary>
    </div>
  </div>
  <div class="layout__scroll">
    <router-outlet></router-outlet>
    <app-up-next></app-up-next>
  </div>
</div>

<div class="contact-container">
  <app-contact />
</div>
