<div class="hero">
    <div class="text-container">
        <h1>Louis Earl</h1>
        <h2>UX Engineer</h2>
        <p>
            I’m a hybrid Front-End Developer and UI/UX designer. I use curiosity,
            creativity, and lots of coffee to deliver brilliant product features -
            all while having fun.
        </p>
        <div class="button__group">
            <a class="primary button" href="#my-projects"> Check out my work </a>
            <button class="secondary button">Contact Me</button>
        </div>
    </div>
    <div class="image-container mask">
        <!-- <img class="squiggle" src="../../../assets/squiggle-1.svg" /> -->
        <div class="portrait-container">
            <img class="portrait" src="../../../assets/portrait.png" />
        </div>
    </div>
</div>