h1 {
  margin-block: 0 4rem;
  text-wrap: nowrap;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 2rem 4rem;
}

.text-container {
  margin-block: 2rem;
  z-index: 5;
  & p {
    margin-bottom: 4rem;
  }
}

.image-container {
  --clip-container-width: calc(400px + 25%);
  --clip-container-offset-y: 0px;
  top: var(--clip-container-offset-y);
  right: 0;
  bottom: 0;
  left: 0;
  .squiggle {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--clip-container-width);
    color: var(--primary);
  }
}

// .mask {
//   mask-image: url(../../../assets/squiggle-mask.svg),
//     linear-gradient(transparent, transparent);
//   mask-size: var(--clip-container-width) auto, 100% 100%;
//   mask-repeat: no-repeat;
//   mask-position: top right;
// }

.portrait-container {
  height: 100%;
  max-height: 580px;
  display: flex;
  justify-content: center;

  .portrait {
    z-index: 2;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .text-container {
    margin-block: 2rem;
    z-index: 5;
    order: 1;
    & p {
      margin-bottom: 4rem;
    }
  }
  .image-container {
  }
}