.app-splash-screen {
  background: radial-gradient(100% 100% at 0% 0%, #003238 0%, #000000 100%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
}

.l-path {
  stroke-width: 16px;
  stroke-dasharray: 485;
  stroke-dashoffset: -485;

  animation: draw-l 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.e-path {
  stroke-width: 16px;
  stroke-dasharray: 394;
  stroke-dashoffset: 394;

  animation: draw-e 1.5s ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes draw-l {
  87% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-e {
  97% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
