.chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

button.chip {
    font-size: var(--chip-font-size);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    &.selected {
        background-color: var(--primary);
        color: var(--on-primary);
    }
}