<div class="up-next">
    <div class="up-next__content">
        <span class="up-next__kicker">{{ kicker }}</span>
        <a [href]="'projects/' + (upNext$ | async)?.route" class="up-next__logline">
            {{ (upNext$ | async)?.logline }}
            <span class="material-icons-round inline-icon">
                arrow_forward
            </span>
        </a>
    </div>
    <img 
        class="up-next__image"
        [src]="'../../assets/images/' + (upNext$ | async)?.heroImage"
    />
</div>