:root {
    --background: #011F23;
    --on-background: #fefefe;
    --surface: #014E56;
    --surface-transparent: #02869233;
    --on-surface: #fefefe;
    --primary: #c92447;
    --on-primary: #ffffff;
    --emphasis: #ffb2b7;
}