:root {
  --headline-1: 90px;
  --headline-2: 44px;
  --headline-3: 28px;
  --body-large: 20px;
  --body-medium: 18px;
  --body-small: 16px;
  --button-font-size: 20px;
}

@media (max-width: 1000px) {
  :root {
    --headline-1: 60px;
    --headline-2: 32px;
    --headline-3: 24px;
    --body-large: 16px;
    --body-medium: 14px;
    --body-small: 12px;
    --button-font-size: 16px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: var(--headline-1);
  font-weight: 700;
}

h2 {
  font-size: var(--headline-2);
  font-weight: 700;
}

h3 {
  font-size: var(--headline-3);
  font-weight: 700;
  margin-block: 1.25rem;
}

h4 {
  font-size: var(--body-large);
  font-weight: 700;
  margin-block: 2rem 0.5rem;
}

span.subtitle {
  margin: 0;
  font-size: var(--headline-3);
  font-weight: 500;
  color: var(--emphasis);
}

p,
li {
  font-size: var(--body-large);
  line-height: 1.55;
  margin-block: 0 1.25rem;
  > a {
    color: var(--emphasis);
    text-decoration: underline;
  }
}

p.small {
  font-size: var(--body-small);
}
