<div class="expansion-container" [class]="isOpen ? 'open' : 'closed'">
    <div 
        *ngIf="!isOpen" 
        class="show-more"
        (click)="expandContent()"
    >
        <span class="prompt__title">Looking for some technical jargon?</span>
        <span class="prompt__subtitle">
            Click here for more...
            <span class="material-icons-round">
                add_circle
            </span>
        </span>
    </div>
    <div 
        *ngIf="isOpen" 
        class="open"
        >
        <ng-content></ng-content>
        <button 
            class="button show-less"
            (click)="collapseContent()"
        >
            Show less
            <span class="material-icons-round">
                remove_circle
            </span>
        </button>
    </div>
</div>