.expansion-container {
  background-color: #ffffff28;
  margin: 2rem -2rem;
  padding: 2rem;
  border-radius: 2rem;
  &.closed {
    cursor: pointer;
  }
}

.show-more {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.show-less {
  position: sticky;
  justify-content: center;
  bottom: 2rem;
  width: 100%;
  background-color: #f2f2f2;
  color: #282828;
  border-radius: 4rem;
  padding: 0.5rem 1rem;
}

.expander {
  display: grid;
  grid-template-rows: 0fr;
  overflow: clip;
  transition: grid-template-rows 0.2s linear;
}
.expander-content {
  min-height: 0;
  transition: visibility 0.2s linear;
  visibility: hidden;
}
.expander.expanded {
  grid-template-rows: 1fr;
}
.expander.expanded .expander-content {
  visibility: visible;
}

.prompt {
  &__title {
    font-size: var(--body-large);
    opacity: 0.8;
  }

  &__subtitle {
    font-size: var(--body-large);
    font-weight: 700;
    display: inline-flex;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 599.98px) {
  .expansion-container {
    margin: 1rem -1rem;
    padding: 1rem;
    border-radius: 1rem;
  }
}