<div id="anchor" class="expansion-container" [ngClass]="!isOpen ? 'closed' : ''" (click)="expandContent()">
  @if (!isOpen) {
    <div class="show-more">
      <span class="prompt__title">{{title}}</span>
      <span class="prompt__subtitle">
        Click here for more
        <span class="material-icons-round inline-icon">
          add_circle
        </span>
      </span>
    </div>
  }

  <div class="expander" [ngClass]="isOpen ? 'expanded' : ''">
    <div class="expander-content">
      <ng-content></ng-content>
      <button class="button show-less" (click)="collapseContent(); $event.stopPropagation()">
        Show less
        <span class="material-icons-round">
          remove_circle
        </span>
      </button>
    </div>
  </div>
</div>