<div class="segment-trigger active">
    <h2>Project Overview</h2>
    <p>
        The Valocity Executive Summary is a PDF report for lenders using the Valocity Platform. It helps them make quick data-driven decisions.
    </p>

    <h3>Background</h3>
    <p>
        In India, when lenders need a property valuation on a high-risk property, they may ask multiple valuation firms to conduct a property valuation on the same property.
        Once all valuations are completed, the Valocity platform helps collate this large amount of data. After Lenders finish assessing the valuations against each other, this information is collated into the Executive Summary Report - which is then sent for managers to look at for approval.

        Managers time is expensive - so they need to be able to see on the first page of the report if anything is out of place, or if there are some red flags that need attention.
    </p>

    <h3>My Involvement</h3>
    <p>
        I was tasked to undertake a complete redesign of the report.
        The old report could span from 18 to 24 pages. It was difficult to find the right information without having to scan through the entire document.
    </p>
    <p>
        I needed to:
    </p>
    <ul>
        <li>Understand the purpose of the report, and the pain points of the users</li>
        <li>create a new first page, a summary of the entire report that is so comprehensive that it provides sufficient indicators for a manager to make a decision.</li>
        <li>Reorganise the remaining report</li>
    </ul>
</div>


<div class="segment-trigger">
    <h2>Investigations</h2>
    <p>
        Pain points.
        While the visual design was important - it wasn't the most important factor.
        Instead, it was improving the layout of information.

        The biggest challenge was trying to summarise everything on the first page.
        Went through many low-fidelity prototypes, to find the perfect visual density, without being too overloading.

        A new map layout. The purpose of the map is to verify that all valuers have indeed inspected the correct property. If not, the map pins should stand out, rightly raising alarm bells for lenders.

        Flag system. As each different valuation firm collects the same datapoints through the Connect platform. It makes comparisons easy to make. We compare what each valuer recorded, and if anything stands out, then a amber or red flag is raised. With the redesigned report, I showed the number of flags on the front page. If there are no flags, great. But if there are, the lender needs to look closely. The reader is directed to look at the issues, highlighted on subsequent pages.


        A new graph.
        This was quite challenging. I needed to show a heck of a lot of information in one place. I took time to understand the graphs purpose - to show if any of the compared values are out of place.
    </p>

</div>

<div class="segment-trigger">
    <h2>Final Result</h2>
    <p>
        I handed the designs over to our India-based dev team.
        They implemented the PDF Report using our report generation services. They also built a front-end page to display the report, before downloading it as a PDF.

        while the size of the report can vary depending on the data points captured from the valuation firms. Overall, the redesigned report was 10-12 pages long. A massive reduction from the previous 18-24.
    </p>

</div>