.hero__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 2rem;
}

.hero__content {
  max-width: 34rem;
  margin-bottom: 8rem;
  z-index: 5;
  & p {
    margin-bottom: 4rem;
  }
}

.squiggle {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(400px + 25%);
}

.clip-container {
  mask-image: url(../../../assets/squiggle-mask.svg),
    linear-gradient(transparent, transparent);
  mask-size: calc(400px + 25%) auto, 100% 100%;
  mask-repeat: no-repeat;
  mask-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.portrait-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.portrait-container-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 2rem;
}

.portrait {
  z-index: 2;
  width: 30%;
}

.wave {
  mask-image: linear-gradient(black, black), url(../../../assets/wave-1.svg);
  mask-size: 100% calc(100% + 1px), 100% 16rem;
  mask-repeat: no-repeat;
  mask-composite: exclude;
  mask-position: 0px -1px;
  padding-top: 16rem;
  margin-top: -16rem;
}

footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../../../assets/wave-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 16rem;
  img {
    width: 8rem;
    position: absolute;
    top: 1rem;
    margin-inline: auto;
  }
}

.merge-container {
  position: relative;
  height: 800px;
}

.merge-left,
.merge-right,
.merge-result {
  position: absolute;
  transform-style: preserve-3d;
}

.merge-left,
.merge-right {
  left: 25%;
  height: 400px;
  width: 600px;
  animation: merge-cards 1s linear;
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: var(--scroll);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.merge-left {
  transform: rotateX(-15deg) rotateY(30deg) translateY(0) translateX(-75%);
  // background-image: url(../../../assets/valocity-global.webp);
}

.merge-right {
  transform: rotateX(15deg) rotateY(30deg) translateY(0) translateX(75%);
  // background-image: url(../../../assets/valocity-global.webp);
}

.merge-result {
  left: 15%;
  width: 750px;
  // opacity: 0;
  animation: merge-result 1s linear;
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: var(--scroll);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
  object-fit: contain;
  transform: rotateX(0deg) rotateY(0deg) translateY(800px) translateX(0);
}

@keyframes merge-cards {
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) translateY(200px) translateX(0);
    opacity: 0;
  }
}

@keyframes merge-result {
  50% {
    // opacity: 0;
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) translateY(150px) translateX(0);
    opacity: 1;
  }
}
