<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <h1>Louis Earl</h1>
            <h2>UX Engineer</h2>
            <p>
                I’m a hybrid Front-End Developer and UI/UX designer. I use curiosity and creativity to deliver innovative digital solutions, all while having fun.
            </p>
            <button>
                Contact Me
            </button>
        </div>
        <div class="squiggle">
            <img src="../../../assets/squiggle-1.svg">
        </div>
        <div class="portrait">
            <img src="../../../assets/portrait.png">
        </div>
    </div>
</section>