.hero {
  display: flex;
  justify-content: center;
}

.hero__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 2rem;
}

.hero__content {
  max-width: 34rem;
  margin-bottom: 8rem;
  z-index: 5;
  & p {
    margin-bottom: 2.5rem;
  }
}

.squiggle {
  position: absolute;
  top: 0;
  right: 0;
}

.portrait {
  position: absolute;
  z-index: 1;
  right: 0;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__group {
    position: relative;
    min-height: 100vh;
    transform-style: preserve-3d;
  }
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--more {
  transform: translateZ(-2px) scale(3);
}

.bg--light {
    background: radial-gradient(100% 100% at 0% 0%, #026A74 0%, #003238 100%);
    // background-color: #026A74;
}

.bg--dark {
  background: radial-gradient(100% 100% at 0% 0%, #003238 0%, #000f12 100%);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.info__two {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  gap: 4rem;
}

.info__two > * {
  margin: 0rem;
}

.info__two p {
  margin-top: 0.25rem;
}

.wave {
  mask-image: linear-gradient(black, black), url(../../../assets/waves.svg);
  mask-size: 100% 100%, 100% 16rem;
  mask-repeat: no-repeat;
  mask-composite: exclude;
  padding-top: 16rem;
  margin-top: -16rem;
}
