section {
  display: flex;
  justify-content: center;
  &.full-height {
    min-height: 100vh;
  }
}

.standard-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 2rem;
}

.hero__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 2rem;
}

.hero__content {
  max-width: 34rem;
  margin-bottom: 8rem;
  z-index: 5;
  & p {
    margin-bottom: 4rem;
  }
}

.squiggle {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(400px + 25%);
}

.clip-container {
  mask-image: url(../../../assets/squiggle-mask.svg), linear-gradient(transparent, transparent);
  mask-size: calc(400px + 25%) auto, 100% 100%;
  mask-repeat: no-repeat;
  mask-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.portrait-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.portrait-container-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 2rem;
}

.portrait {
  z-index: 2;
  width: 30%;
}

.bg--light {
    // background: radial-gradient(100% 100% at 0% 0%, #026A74 0%, #003238 100%);
    background-color: #026A74;
}

.bg--dark {
  // background: radial-gradient(100% 100% at 0% 0%, #003238 0%, #000f12 100%);
  // background: radial-gradient(100% 100% at 0% 0%, #003238 0%, #000000 100%);
  background-color: #003238;
}

.info__two {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  gap: 4rem;
}

.info__two > * {
  margin: 0rem;
  flex: 1 1;
}

.info__two p {
  margin-top: 0.25rem;
}

.wave {
  mask-image: linear-gradient(black, black), url(../../../assets/wave-1.svg);
  mask-size: 100% calc(100% + 1px), 100% 16rem;
  mask-repeat: no-repeat;
  mask-composite: exclude;
  mask-position: 0px -1px;
  padding-top: 16rem;
  margin-top: -16rem;
}

footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../../../assets/wave-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 16rem;
  img {
    width: 8rem;
    position: absolute;
    top: 1rem;
    margin-inline: auto;
  }
}