<app-image-scroller-container>
  <div appImageScrollerTarget="mm-present-1.jpg" objectFit="cover">
    <h2>About the project</h2>
    <p>
      Midnight Mysteries was developed by an eight-person team within one week.
      This was our final project while studying at Dev Academy Aotearoa, and the
      completed product was presented at our graduation.
    </p>

    <h3>The Game</h3>
    <p>
      Midnight Mysteries is a battle of deception for four or more players.
      Avoid elimination each round while taking out the opposition to win this
      game!
    </p>

    <h3>How to play</h3>
    <p>
      The game is played by two teams: the Mafia and the Innocent. The objective
      of the game is for the Mafia to “eliminate" the Innocent until they are
      the majority, or for the Innocent to collectively vote off the entire
      Mafia.
    </p>
  </div>

  <div appImageScrollerTarget="mm-present-2.jpg" objectFit="cover">
    <h2>My Involvement</h2>

    <p>
      As the Product Owner of Midnight Mysteries, I was responsible for the
      overall vision and direction of the project - to ensure the whole team was
      working on the same page.
    </p>
    <p>
      My role evolved into a Team Lead position during development, where I
      regularly checked in across the team to establish and assist with any
      blocks or needs.
    </p>
    <p>
      I maintained the team Kanban Board between daily sprints. This involved
      breaking up big tasks into a series of smaller 'cards'. Team members could
      then self-allocate tasks using the cards, which prevented overlapping work
      and minimised Git merge conflicts.
    </p>
    <p>
      Because the team was well organised to follow an agile workflow, I could
      also spend time doing what I love, programming for games. With my previous
      programming experience, I was able to offer technical assistance to the
      team.
    </p>
  </div>
</app-image-scroller-container>
