body {
  color: #FFFFFF;
  background: #1E1432 url('./images/stars.jpg') no-repeat fixed center;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* The main title */
h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 96px;
  color: #FFD700;
  margin: 0;
}

/* The main subtitle */
h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
}

/* Section headers */
h3 {
  font-size: 24px;
  margin: 0;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80vh;
}

.section {
  padding: 60px 20px;
}

.section--dark {
  background-color: #000000;
}

.section--blur {

}

.projects {

}

.projects__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 20px;
}

.project__card {
  background-color: #29292C;
  border-radius: 16px;
  width: 100%;
}

.project__card--major {
  height: 300px;
}

.project__card--interest {
  height: 150px;
}

.about__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 20px;
}

.contact {

}
