<div class="project-filter">
    <app-filter-chips (categorySelected)="onFilterChange($event)"/>
</div>
<div class="project-list">
    @for (project of projects; track project; let i = $index) {
    <app-project-card [title]="project.logline" [link]="'projects/' + project.route" [reverseDirection]="i % 2 === 1">
        <img thumbnail [src]="'../../../assets/images/' + project.heroImage" />
        <p description>
            {{ project.description }}
        </p>
    </app-project-card>
    }
</div>