<div class="project-list">
    <app-project-card 
        title="An app that simplifies property valuations."
        link="projects/valocity-onsite"
        >
        <img thumbnail src="../../../assets/onsite.png">
        <p description class="small">
            I redesigned a mobile app that wasn't getting much use. Now it's set to streamline the way valuation firms collect property data.
        </p>
    </app-project-card>

    <app-project-card 
        title="A valuation ordering platform for lenders." 
        link="projects/valocity-global"
        [reverseDirection]="true" 
        >
        <img thumbnail src="../../../assets/valocity-global.webp">
        <p description class="small">
            Embracing my role as a hybrid developer/designer, I jump between designing feature-rich interfaces in Figma, to writing beautiful, well tested code in Angular.
        </p>
    </app-project-card>

    <app-project-card 
        title="A multiplayer murder mystery."
        link="projects/midnight-mysteries"
        >
        <img thumbnail src="../../../assets/midnight-mysteries.png">
        <p description class="small">
            Using React and some websocket magic, I helped develop a multiplayer game that turns everyone in the room against eachother. 
        </p>
    </app-project-card>

    <app-project-card 
        title="A video game that's out of this world." 
        link="projects/one-way-wellington"
        [reverseDirection]="true"
        >
        <img thumbnail src="../../../assets/oww-ship.jpg">
        <p description class="small">
            I created a spaceship building game about transporting creative talent across the Milky Way to Wellington, the ‘Coolest Little Capital’.
        </p>
    </app-project-card>
</div>