.card__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  position: relative;
  border-radius: 2rem;
  margin: 8rem -2rem;
  padding: 2rem;
  cursor: pointer;
  &:hover {
    background: var(--surface-transparent);
  }
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__thumbnail {
  position: relative;
  ::ng-deep img {
    position: absolute;
    top: -8rem;
    width: 100%;
    height: calc(100% + 16rem);
    object-fit: contain;
    pointer-events: none;
  }
}
h3 {
  margin-block: 0 1rem;
}

.reverse {
  order: 1;
}

@media screen and (max-width: 599.98px) {
  .card__layout {
    grid-template-columns: 1fr;
    background: var(--surface-transparent);
    gap: 2rem;
    margin: 1rem -1rem;
  }
  .card__thumbnail ::ng-deep img {
    position: static;
    height: 100%;
    object-fit: contain;
  }
  .reverse {
    order: 0;
  }
}
