<div class="segment-trigger active">
    <h2>About the Project</h2>
    <p>
        Valocity Onsite is a tool designed for Property Valuers to efficiently record  data during their on-site inspection. 
    </p>
    
    <h3>My Involvement</h3>
    <p>
        I crafted the UI/UX designs 
        - An overhaul of an existing app, redesigned from the ground up. 
        - The company’s first in-house design project. 
        - Not to mention my first major design project.
        - Learnings and takeaways. 
    </p>
</div>

<div class="segment-trigger">
    <h2>How it started</h2>

    <h3>Turning problems into opportunity</h3>

    <p>
        The old Valocity Connect app had low usage. 
        Valuers told us it was faster to complete their site inspections using pencil and paper, and then manually re-enter that data on Valocity’s desktop platform back at the office. 
    </p>

    <h3>Investigating user pain points</h3>

    <p>
        While we had the opportunity to start from the ground up, it was important to learn from past mistakes to provide a more useful and useable experience. 
        Job discovery: 
        Navigation of large forms 
        Excessive form fields 
        Difficult field validations 
    </p>
</div>

<div class="segment-trigger">

    <h2>Design Iterations</h2>

    <h3>Customer Feedback</h3>

    <p>
        Rearranging the flow based on physical investigations.
    </p>

    <h3>Introduction of the design system</h3>

    <p>
        Some small updates to the UI made a major improvement to the look and feel of Onsite. 
        Better UI guidelines provided stronger standards for our use of fonts and colours - with accessibility in mind. 
    </p>
</div>