.skills-intro {
  margin-block-end: 6rem;

  .skills-intro-text {
    max-width: calc(70% - 2rem);
  }
}

.skills-container {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  margin-block-start: 3rem;

  .skills-card {
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--surface-transparent);

    li {
      font-size: var(--body-medium);
      margin-block-end: 0.5rem;
    }
  }

  .brain-container {
    position: relative;
    img {
      position: absolute;
      width: 80%;

      &.technical-brain {
        top: 20%;
        right: 0;
      }
      &.creative-brain {
        bottom: 20%;
        left: 0;
      }
    }
  }
}
