:root {
    --scenePerspective: 1;
    --scenePerspectiveOriginX: 50;
    --scenePerspectiveOriginY: 50;
    /* Gap between each card */
    --itemZ: 2;
    /* Where 1 is the fastest  */
    --cameraSpeed: 150;
    /* Initial camera position */
    --cameraZ: 0;
    --viewportHeight: 0;
}

.oww {
    color: #000000;
}

.corridor__wrapper {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.corridor {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 100%;
    z-index: -1;
}

/* We want to be able to use the scrollbar to navigate z-axis */

.viewport {
    height: calc(var(--viewportHeight) * 1px)
}

/* Sets the scene perspective and perspective origin */

.viewport .scene3D-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
    perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc(var(--scenePerspectiveOriginY) * 1%);
    will-change: perspective-origin;
    transform: translate3d(0, 0, 0);
    /* Allows hardware-accelerated CSS, so transitions are smoother */
}

/* Sets position of scene on the z-axis */

.viewport .scene3D-container .scene3D {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    transform-style: preserve-3d;
    transform: translateZ(calc(var(--cameraZ) * 1px));
    will-change: transform;
}

/* Position all card elements in the scene */

.viewport .scene3D-container .scene3D > div {
    position: absolute;
    display: block;
    width: 100%;
    top: 40%;
}

@media only screen and (min-width: 600px) {
    .viewport .scene3D-container .scene3D-container>div {
        width: 40%;
    }
}

.oww-logo {
    max-width: 100%;
    max-height: 50%;
    height: auto;
    width: auto;
}

.oww-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
}