.oww {
    color: #000000;
}

.corridor__wrapper {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.corridor {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 100%;
    z-index: -1;
}

.oww-logo {
    width: auto;
    height: 40vh;
}

.oww-content__wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}

.oww-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oww-frame {
    width: auto;
    height: 20vh;
}

.oww-ship {
    width: auto;
    height: 40vh;
}