/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100%;
}

html {
  // scroll-behavior: smooth;
  height: 100%;
}

body {
  color: #e1f0f2;
  background-color: #003238;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  font-size: 90px;
  font-weight: 700;
}

h2 {
  font-size: 44px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 700;
  margin-block: 1.25rem;
}

span.subtitle {
  font-size: 20px;
  font-weight: 700;
  color: #c0c0c0;
}

p, li {
  font-size: 20px;
  line-height: 1.5;
  margin-block: 0 1.25rem;
  > a {
    color: #FFC1B4;
    text-decoration: underline;
  }
}

p.small {
  font-size: 16px;
}

a {
  color: #e1f0f2;
  text-decoration: none;
}

button,
a.button {
  display: inline-flex;
  gap: 0.5rem;
  width: fit-content;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
  cursor: pointer;
  &.primary {
    color: #925347;
    background-color: #FEA897;
  }
  &.secondary {
    color: #FEA897;
    background-color: transparent;
    box-shadow: 0px 0px 0px 2px #FEA897;
  }
  &:hover {
    filter: brightness(80%);
  }
  &:active {
    filter: brightness(50%);
  }
  .material-icons-round {

  }
}

.button__group {
  display: inline-flex;
  gap: 2rem;
}

.standard-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 2rem;
}

section {
  display: flex;
  justify-content: center;
  &.full-height {
    min-height: 100vh;
  }
}

.bg--light {
  // background: radial-gradient(100% 100% at 0% 0%, #026A74 0%, #003238 100%);
  background-color: #FFC1B4;
  > * {
    color: #925347;
  }
}

.bg--dark {
  // background: radial-gradient(100% 100% at 0% 0%, #003238 0%, #000f12 100%);
  // background: radial-gradient(100% 100% at 0% 0%, #003238 0%, #000000 100%);
  background-color: #003238;
}

.info__two {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  gap: 4rem;
}

.info__two > * {
  margin: 0rem;
  flex: 1 1;
}

.info__two p {
  margin-top: 0.25rem;
}

.inline-icon {
  vertical-align: bottom;
}