/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

body {
    color: #E1F0F2;
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 90px;
    font-weight: 700;
}

h2 {
    font-size: 44px;
    font-weight: 700;
}

p {
    font-size: 24px;
    line-height: 1.5;
}

button, a.button {
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    &.primary {
        color: #E1F0F2;
        background-color: #DF2D4A;
    }
    &.secondary {
        color: #E1F0F2;
        background-color: transparent;
        box-shadow: 0px 0px 0px 2px #DF2D4A;
    }
    &:hover {
        filter: brightness(80%);
    }
    &:active {
        filter: brightness(50%);
    }
}

.button__group {
    display: inline-flex;
    gap: 2rem;
}