<app-image-scroller-container>
  <div appImageScrollerTarget="oww-poster.jpg" objectFit="contain">
    <h2>In a galaxy, not so far away...</h2>
    <p>
      One Way Wellington is a 2D spaceship building/management game about
      transporting creative talent across the Milky Way to the ‘Coolest Little
      Capital’.
    </p>
  </div>

  <div appImageScrollerTarget="oww-ship.webp" objectFit="cover">
    <h2>My involvement</h2>
    <p>
      As the Creator and Developer of One Way Wellington, I've been responsible
      for everything from ideation to production and release.
    </p>
    <p>
      During the production phase, I lead a team of seven 2nd-year students. In
      groups, they successfully developed the User Interface, Character Design
      and 2D Assets.
    </p>
    <p>
      This solo project has been an exciting venture because I’ve pursued what I
      love, designing and programming video games, while taking the project
      through the entire production pipeline alongside Wellington-based client,
      WellingtonNZ.
    </p>
    <p>
      One Way Wellington was presented at the Massey Exposure Exhibition,
      November 2019.
    </p>
  </div>

  <div appImageScrollerTarget="oww-gameplay.jpg" objectFit="contain">
    <h2>The gameplay</h2>
    <h3>Build Your Ship</h3>
    <p>
      In One Way Wellington, your first task is to construct a spaceship. Lay
      down the ship plans, then hire advanced builder robots to build them.
    </p>

    <h3>Travel The Galaxy</h3>
    <p>
      Once your ship ticks all the boxes, it's time to set sail. Using the map,
      draw a path between planets en-route to Planet Wellington. You can travel
      as far across the galaxy as you have fuel.
    </p>

    <h3>Collect Passengers</h3>
    <p>
      As you arrive at each planet station, select passengers to board your
      ship. Be careful not to accommodate more passengers than you have the
      oxygen supplies for.
    </p>
    <p>
      You need to care for your passengers to keep them happy. Provide beds,
      bathrooms and cafes to tend to their basic needs.
    </p>
  </div>
</app-image-scroller-container>
